<html>
 <head>
   <title></title>
 </head>
<body>

  <div id="form1" class="wrapper">
      <form action="" method="post">
        <fieldset>
          <legend>Legend</legend>

          <fm-input-el v-for="input in inputs"
                       :input="input"
                       :index="$index">
          </fm-input-el>

<!--           <span class="form-element">
            <label for="">Label</label>
            <span class="msg msg-neutral">Message</span>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </span> -->

          <button class="btn btn-complete"
                  v-on:click.stop.prevent="submit">Complete</button>
        </fieldset>
      </form>
  </div>

  <template id="fm-input-el">
    <span class="form-element">
      <label for="{{ input.id }}">{{ input.label }}</label>
      <span class="msg msg-error">{{ input.msg }}</span>
      <input type="text"
             name="{{ input.name }}"
             id="{{ input.id }}"
             placeholder="{{ input.placeholder }}"
             v-model="input.value"
             value="{{ input.value }}"
             @click="upcount(index)"
             @keyup.enter="getValue">
    </span>
  </template>

<script src="../js/vue.js"></script>
<script src="../js/vue-resource.js"></script>
<script src="../js/main.js"></script>
</body>
</html>