form
  width: 100%
  max-width: 550px
  margin: 3em auto 6em auto
  background: #fff

fieldset
  display: block
  border: none
  margin: 1em
  padding: 1em

legend, label
  display: inline-block
  width: 100%
  padding: 10px
  line-height: 1.5em
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 500

legend
  text-align: center
  font-size: 1.2em

label
  margin: 10px 0
  border-top: 1px solid #efefef

.form-element
  display: block
  margin: 1em 0 1.5em

.form-input-inline
  display: flex
  flex-direction: row
  align-items: stretch

.form-input-inline .option-item
  text-align: center;

.form-input-inline input
  margin: 0.5em 0.5em 0.5em 0

.form-input-inline .inline-title
  display: inline-block
  padding: 0.5em
  width: 50%

.msg
  color: #FF8A80
  font-style: italic
  border-radius: 2px
  font-size: 0.9em

label > .msg
  display: inline
  float: right
  text-transform: none
  letter-spacing: 0

.msg-error
  display: none;

.msg-hide-transition
  transition: all 0.2s ease
  opacity: 1

.msg-hide-enter, .msg-hide-leave
  opacity: 0

input, .msg, textarea
  line-height: 1.5em
  padding: 0.35em 0.5em

textarea
  height: 8em

input, textarea
  width: 100%
  margin-top: -10px
  display: block
  border: none
  background: #eee
  border-radius: 2px
  box-shadow: inset 1px 1px 1px #cacaca

select
  width: 100%
  height: 2em
  margin: 0.5em
  border: none
  background: #eee
  border-radius: 2px
  box-shadow: 1px 1px 1px #cacaca

::-webkit-input-placeholder
  font-size: 0.8em
  color: #999;

.option-item
  width: 100%
  float: left;
  line-height: 1em;
  margin: 0.25em

.option-item input[type='checkbox'],
.option-item input[type='radio']
  display: none

.option-item label
  text-transform: none
  letter-spacing: 0
  background: #efefef
  box-shadow: 1px 1px 1px #cacaca
  border-radius: 2px
  border: 1px solid #efefef
  margin: 0
  padding: 0.5em 1em
  width: 100%
  cursor: pointer
  display: inline-block

.option-item input[type='checkbox']:checked + label,
.option-item input[type='radio']:checked + label
  background: #000;
  color: #fff
  border: 1px solid #000

.option-item input[type='checkbox']:focus + label,
.option-item input[type='radio']:focus + label
  border: 1px solid #000

.checkbox-item
  margin: 0 0.5em

.checkbox-item label
  padding: 0.25em
  letter-spacing: 0;
  text-transform: none
  border: none
  font-weight: normal
  width: 45%
  margin: 0
  display: inline-block

.checkbox-item input
  width: 20px
  display: inline
  margin: 0
  box-shadow: none

.form-table
  margin: 2em 0

.form-table-label
  padding: 0
  margin: 0
  width: 100%

.drop-zone
  display: inline-block
  border: none
  width: 100%
  padding: 5em 0
  background: #efefef
  border-radius: 10px
  text-align: center
  box-shadow: inset 2px 2px 2px #cacaca
  cursor: pointer
  transition: all 0.5s ease

.drop-zone:hover
  background: #000
  color: #fff

.drop-zone-input
  display: none

.image-list
  width: 100%
  margin: 2em auto 0 auto

.image-item
  margin-top: 1em
  margin-right: 1em
  width: 45%
  height: 300px
  background: #fff
  padding: 0.5em
  display: flex
  flex-direction: column
  float: left

.image-item-small
  font-size: 0.8em
  margin-top: 0.5em
  margin-right: 1em
  width: 20%
  height: 125px
  background: #fff
  padding: 0.25em
  display: flex
  flex-direction: column
  float: left

.item-image-wrap
  overflow: hidden
  border-radius: 5px

.image-upload-preview
  height: 200px
  // overflow: hidden

.image-upload-preview-small
  height: 100px
  // overflow: hidden

.image-filename
  margin: 0.5em 0

.image-upload-btn
  margin: 0
  text-align: center
  padding: 0.5em 1em
  font-size: 1em
  background: #efefef
  box-shadow: 1px 1px 1px #cacaca
  border-radius: 2px
  border: none
  color: #000

.input-btn-group
  width: 100%

.input-btn-group input
  width: 70%
  display: inline-block

.input-btn-group button
  width: 20%
  display: inline-block


.details-display
  width: 100%
  clear: both
  margin-top: 0.5em

.details-display li
  border-top: 1px dotted #efefef

