
form
  width: 100%
  max-width: 500px
  margin: 0 auto

fieldset
  border: 1px solid #efefef

.form-element
  display: block
  margin: 1.5em 0

label, input, .msg, textarea
  line-height: 1.5em
  padding: 0.35em 0.5em

input, textarea
  width: 100%
  display: block
  border: none
  border-bottom: 1px solid #cacaca
  background: #fcfcfc
  border-radius: 2px

::-webkit-input-placeholder
  font-size: 0.8em
  color: #999;

label, .msg
  width: 49%
  display: inline-block
  margin: 10px 0;

.msg
  text-align: right
  font-size: 0.9em
  // background: #efefef
  // box-shadow: inset 1px 1px 1px #cacaca
  // border-radius: 2px;

.btn
  float: right
  padding: 0.5em 1em
  display: inline-block
  background: #efefef
  box-shadow: 1px 1px 1px #cacaca
  border-radius: 2px
  border: none
  text-decoration: none
  color: #000

.option-item
  width: 100%
  float: left;
  line-height: 1em;
  border: 1px solid #000

.option-item input[type='checkbox'],
.option-item input[type='radio']
  display: none;

.option-item label
  width: 100%;
  padding: 0.75em 1em;
  cursor: pointer;
  display: inline-block;

.option-item input[type='checkbox']:checked + label,
.option-item input[type='radio']:checked + label
  background: #000;
  color: #fff;





